* {
	margin: 0;
	padding: 0;
	font-family: Arial, Sans-serif;
	text-align: center;
}

#game_reset {
		color: black;
		text-decoration: underline;
		font-size: 100%;
}

#container {
	margin-top: 2%;
}

#player {
	right: 0;
	position:absolute;
}

#computer {
	left: 0;
	position:absolute;
}

#player img, #computer img {
	width: auto;
	height: 200px;
}

#center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

h1 {
	font-size: 400%;
}

p {
	font-size: 150%;
}

button {
		
}

/* All Hands */
#player_rock, #player_paper, #player_scissors,
#computer_rock, #computer_paper, #computer_scissors {
	width: 300px;
	height: 200px;
		
	background-size: 100%;
	background-position: left top;
	background-repeat: no-repeat;
}

/* Player Hands */
#player_rock {
	background-image: url('./unselected/player_rock.png');
}

#player_paper {
	background-image: url('./unselected/player_paper.png');
}

#player_scissors {
	background-image: url('./unselected/player_scissors.png');
}

#player_rock:hover {
	background-image: url('./selected/player_rock.png');
	cursor: pointer;
}

#player_paper:hover {
	background-image: url('./selected/player_paper.png');
	cursor: pointer;
}

#player_scissors:hover {
	background-image: url('./selected/player_scissors.png');
	cursor: pointer;
}

/* Computer Hands */
#computer_rock {
	background-image: url('./unselected/computer_rock.png');
}

#computer_paper {
	background-image: url('./unselected/computer_paper.png');
}

#computer_scissors {
	background-image: url('./unselected/computer_scissors.png');
}


















